* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
}
.container {
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    background: #ffff ;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.display {
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    outline: none;
    border: none;
    text-align: right;
    font-size: 25px;
    color: black;
    pointer-events: none;
}

.buttons{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);

}

.buttons button{
    padding: 12px 10px;
    border-radius: 6px;
    border: none ;
    background-color: #ecc6c6;
    cursor: pointer;

}

.buttons button:active {
    transform: scale(0.89);
}

.operator {
    color: rgb(64, 187, 236);
}

